<h3 class="text-2xl text-indigo-600 font-bold mb-6 ml-3 text-center pt-10">Update Vehicle</h3>
<div class="flex items-center justify-center">
  <div class="mx-auto w-full max-w-[550px]">
    <!-- look below for vehicle id attribute -->

    <form id="edit-vehicle-form" method="POST" class="text-center px-5" data-vehicle-id="{{vehicle.id}}">
      <div class="mb-5">
        <label for="name" class="mb-3 block text-base font-medium text-indigo-500"> Make </label>
        <input
          type="text"
          name="make"
          id="manufacturer"
          class="w-full rounded-md border border-black bg-white py-3 px-6 text-base font-medium text-text-indigo-500 outline-none focus:border-indigo-500 focus:shadow-md text-center"
          value="{{vehicle.manufacturer}}"
        />
      </div>
      <div class="mb-5">
        <label for="email" class="mb-3 block text-base font-medium text-indigo-500"> Model </label>
        <input
          type="text"
          name="model"
          id="model"
          class="w-full rounded-md border border-black bg-white py-3 px-6 text-base font-medium text-text-indigo-500 outline-none focus:border-indigo-500 focus:shadow-md text-center"
          value="{{vehicle.model}}"
        />
      </div>
      <div class="mb-5">
        <label for="subject" class="mb-3 block text-base font-medium text-indigo-500"> Year </label>
        <input
          type="text"
          name="year"
          id="year"
          class="w-full rounded-md border border-black bg-white py-3 px-6 text-base font-medium text-text-indigo-500 outline-none focus:border-indigo-500 focus:shadow-md text-center"
          value="{{vehicle.year}}"
        />
      </div>
      <div class="mb-5">
        <label for="subject" class="mb-3 block text-base font-medium text-indigo-500"> Color </label>
        <input
          type="text"
          name="color"
          id="color"
          class="w-full rounded-md border border-black bg-white py-3 px-6 text-base font-medium text-text-indigo-500 outline-none focus:border-indigo-500 focus:shadow-md text-center"
          value="{{vehicle.color}}"
        />
      </div>
      <div class="mb-5">
        <label for="subject" class="mb-3 block text-base font-medium text-indigo-500"> Car's Name </label>
        <input
          type="text"
          name="nickname"
          id="nickname"
          class="w-full rounded-md border border-black bg-white py-3 px-6 text-base font-medium text-text-indigo-500 outline-none focus:border-indigo-500 focus:shadow-md text-center"
          value="{{vehicle.nickname}}"
        />
      </div>
      <div class="mb-5">
        <button
        id="update-vehicle-button"
        type="submit"
          class="hover:shadow-form rounded-md bg-indigo-500 hover:bg-indigo-600 py-3 px-8 text-base font-semibold text-white outline-none w-full text-center"
        >
          UPDATE VEHICLE
        </button>
      </div>
      
    </form>
    <button id="delete-vehicle-btn" value={{vehicle.id}} class="hover:shadow-form rounded-md bg-red-500 hover:bg-red-600 py-3 px-8 text-base font-semibold text-white outline-none w-full text-center">
        DELETE VEHICLE
    </button>
  </div>
</div>

<script src="/js/editvehicle.js"></script>
<script src="/js/deletevehicle.js"></script>
