<h3 class="text-center p-10 text-4xl font-bold text-indigo-500">Your Vehicles</h3>

<div class="flex flex-col items-center px-5">
  <a href="/add-vehicle">
     <button class="w-full flex content-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 transition duration-150 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">+ Add a Vehicle</button>
  </a>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 m-10 mb-10">
  <!-- START Card component -->
  {{#each user.vehicles}}
    <div class="container grid grid-cols-1 lg:grid-cols-2 bg-white shadow-2xl rounded-2xl p-6 duration-500">
      <div>
        <h4 class="text-3xl font-bold text-indigo-500">{{nickname}}</h4>
        <ul class="py-5 font-medium text-lg">
          <li>Make: {{manufacturer}}</li>
          <li>Model: {{model}}</li>
          <li>Year: {{year}}</li>
          <li>Color: {{color}}</li>
        </ul>
      </div>
      <figure class="w-24 lg:w-full md:w-40 align-center sm:p-0">
        <img class="align-center" src="/images/{{typeOfVehicle}}.png" alt=""/>
      </figure>
        <a href="/edit-vehicle/{{id}}" class="mb-2 rounded-md bg-indigo-600 hover:bg-indigo-500 transition duration-150 py-3 px-8 text-base font-semibold text-white outline-none w-full lg:w-5/6 text-center items-center">
              UPDATE
        </a>
        <a href="/vehicle/{{id}}" class="mb-2 rounded-md bg-indigo-600 hover:bg-indigo-500 transition duration-150 py-3 px-8 text-base font-semibold text-white outline-none w-full lg:w-5/6 text-center">
              SEE POSTS
        </a>
      </div>
  {{/each}}
  <!-- END Card component -->
</div>