<h3 class="text-center p-10 text-4xl font-bold text-indigo-500">Your Vehicles</h3>

<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 m-10 mb-10">
  <!-- START Card component -->
  {{#each user.Vehicles}}
    <a href="/post/{{id}}" class="container grid grid-cols-1 lg:grid-cols-2 bg-white shadow-2xl rounded-2xl p-6 hover:scale-105 ease-in-out duration-500">
      <div>
        <h4 class="text-3xl font-bold text-indigo-500">{{nickname}}</h4>
        <ul class="py-5 font-medium text-lg">
          <li>Make: {{manufacturer}}</li>
          <li>Model: {{modelName}}</li>
          <li>Year: {{year}}</li>
          <li>Color: {{color}}</li>
        </ul>
      </div>
      <figure class="flex">
        <img src="assets/mini-cooper.jpg" alt="" />
      </figure>
    </a>
  {{/each}}
  <!-- END Card component -->
</div>